# Exploration and Analysis
- <Description goes here>

In [ ]:
# Dependencies and Imports
import pandas as pd
import requests
import json
import matplotlib as mlt
import gmaps
from census import Census
from us import states
import numpy as np

## Need to move to config file
# Census API Key
census_API = 'ad9e020616792d8cbe0f666089dc3980b9d379e0'
c=Census(census_API)

# Import and preview the dataset in a dataframe
path = './Resources/311_Pothole_History.csv'
df = pd.DataFrame(pd.read_csv(path))

# Preview the dataset
print(f"Total # of complaints in the dataset: {len(df)}")
df.head()

In [2]:
# Investigating values for non-standard columns
print(f"Source values: {df['SOURCE'].unique()}")
print(f"Work group values: {df['WORK GROUP'].unique()}")
print(f"Request type values: {df['REQUEST TYPE'].unique()}")
print(f"Status values: {df['STATUS'].unique()}")

Source values: ['PHONE' 'WEB' 'EMAIL' 'BOT' 'TWIR' 'WALK' 'EDC' 'VOICE' 'FAX' 'INSPE'
 'SYS' 'MAIL' 'EIP' 'SPNSH']
Work group values: ['Public Works-Street and Traffic-District 3'
 'Public Works-Street and Traffic-District 1'
 'Public Works-Street and Traffic-District 2'
 'City Managers Office-311 Call Center-Support'
 'Public Works-Capital Projects-Sidewalks' 'Parks and Rec-South Region-'
 'Public Works-Capital Projects-Traffic Permits'
 'Parks and Rec-Central Region-' 'Parks and Rec-Administration-']
Request type values: ['Streets / Roadways / Alleys-Pothole-District 3'
 'Streets / Roadways / Alleys-Pothole-District 1'
 'Streets / Roadways / Alleys-Pothole-District 2'
 'Streets / Roadways / Alleys-Pothole-Bridge' 'Pothole (North of River)'
 'Pothole (South of 47th Street and West Of Blue PKWY)'
 'Pothole (South of 47th Street)'
 'Pothole (South of River to 47th Street)'
 'Pothole (River south to 47th Street)'
 'Pothole (River south to 47th Street and East of Blue PKWY)'
 'Streets / Roadways / Alleys-Pothole-Blvd / Pkwy']
Status values: ['RESOL' 'OPEN' 'DUP' 'CANC']

In [3]:
# Identifying data ranges
print(f"Dataset covers {df['CREATION YEAR'].nunique()} years, {df['ZIP CODE'].nunique()} zipcodes, and {df['NEIGHBORHOOD'].nunique()} neighborhoods")

Dataset covers 14 years, 55 zipcodes, and 249 neighborhoods

In [4]:
# Begin cleaning data. We'll start by only using resolved complaints (open/canceled complaints lack some of the data we'd need if we want to use closing dates)
resolved_df = df.loc[(df['STATUS']=='RESOL')]
print(f"Current number of rows: {len(resolved_df)}")

# Cut down the number of columns to main identifying data. We'll primarily be using zip codes to pull census data
# Extra location data and "closed" data has been removed for ease.
reduced_resolved_df = resolved_df[['CASE ID', 'SOURCE', 'CREATION MONTH', 
                                   'CREATION YEAR', 'STATUS', 'EXCEEDED EST TIMEFRAME', 
                                   'DAYS TO CLOSE', 'ZIP CODE', 'NEIGHBORHOOD']]

# Drop any rows that still have missing data
clean_df = reduced_resolved_df.dropna(how='any').copy()
clean_df.reset_index(inplace=True)
print(f"Clean number of rows: {len(clean_df)}")

# Format columns to drop decimal places
clean_df['ZIP CODE'] = clean_df['ZIP CODE'].astype(int)
clean_df['DAYS TO CLOSE'] = clean_df['DAYS TO CLOSE'].astype(int)

# Output the dataframe to a csv and preview the final cleaned dataframe
clean_df.to_csv('./Resources/PotholeData.csv', index=False)
clean_df

Current number of rows: 49499
Clean number of rows: 48070

,index,CASE ID,SOURCE,CREATION MONTH,CREATION YEAR,STATUS,EXCEEDED EST TIMEFRAME,DAYS TO CLOSE,ZIP CODE,NEIGHBORHOOD
0,0,2019169222,PHONE,9,2019,RESOL,Y,48,64133,Blue Vue Hills
1,1,2019126105,PHONE,7,2019,RESOL,Y,113,64131,East Meyer 6
2,2,2019126468,WEB,7,2019,RESOL,Y,113,64130,Blue Hills
3,3,2019183619,PHONE,10,2019,RESOL,Y,30,64119,Shoal Creek
4,4,2019190590,PHONE,11,2019,RESOL,Y,10,64134,Fairlane
...,...,...,...,...,...,...,...,...,...,...
48065,50068,2019170484,PHONE,9,2019,RESOL,N,1,64126,East Blue Valley
48066,50069,2019170942,PHONE,9,2019,RESOL,Y,52,64110,Western 49-63
48067,50070,2019171791,PHONE,9,2019,RESOL,Y,50,64134,Hickman Mills South
48068,50071,2019170397,TWIR,9,2019,RESOL,N,2,64108,Wendell Phillips
48069,50072,2019173262,PHONE,9,2019,RESOL,N,1,64154,KCI & 2nd Creek

In [5]:
# Optional reduced dataframe for fewer years of data (different census data pull)
fifteen_nineteen_df = clean_df[clean_df["CREATION YEAR"] > 2014]
fifteen_nineteen_df.reset_index(inplace=True)
fifteen_nineteen_df

,level_0,index,CASE ID,SOURCE,CREATION MONTH,CREATION YEAR,STATUS,EXCEEDED EST TIMEFRAME,DAYS TO CLOSE,ZIP CODE,NEIGHBORHOOD
0,0,0,2019169222,PHONE,9,2019,RESOL,Y,48,64133,Blue Vue Hills
1,1,1,2019126105,PHONE,7,2019,RESOL,Y,113,64131,East Meyer 6
2,2,2,2019126468,WEB,7,2019,RESOL,Y,113,64130,Blue Hills
3,3,3,2019183619,PHONE,10,2019,RESOL,Y,30,64119,Shoal Creek
4,4,4,2019190590,PHONE,11,2019,RESOL,Y,10,64134,Fairlane
...,...,...,...,...,...,...,...,...,...,...,...
37124,48065,50068,2019170484,PHONE,9,2019,RESOL,N,1,64126,East Blue Valley
37125,48066,50069,2019170942,PHONE,9,2019,RESOL,Y,52,64110,Western 49-63
37126,48067,50070,2019171791,PHONE,9,2019,RESOL,Y,50,64134,Hickman Mills South
37127,48068,50071,2019170397,TWIR,9,2019,RESOL,N,2,64108,Wendell Phillips
37128,48069,50072,2019173262,PHONE,9,2019,RESOL,N,1,64154,KCI & 2nd Creek

In [6]:
# Assembling a clean list of the zip codes in the data set
zip_codes = df['ZIP CODE'].dropna().unique()
zip_codes = zip_codes.astype(int)
zip_codes

array([64133, 64131, 64130, 64119, 64134, 64108, 64113, 64132, 64112,
       64146, 64127, 64125, 64149, 64138, 64114, 64145, 64105, 64123,
       64110, 64137, 64155, 64109, 64154, 64151, 64124, 64116, 64120,
       64139, 64152, 64129, 64158, 64106, 64111, 64128, 64118, 64117,
       64136, 64126, 64157, 64156, 64101, 64163, 64153, 64161, 64147,
       64167, 64102, 64166, 64165, 64164, 64160, 64068, 64012, 64052,
       64030])

In [ ]:
# generate an empty list to fill with the census data
data = []

# iterate through the list of zip codes to pull the census data
for ea in zip_codes:
    census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E", "B19301_001E", "B17001_002E"), {'for': 'zip code tabulation area:'+str(ea)})
    try:
        data.append(census_data[0])
    except:
        next

In [19]:
# Store the data into a dataframe
data_df = pd.DataFrame(data)
data_df

,NAME,B19013_001E,B01003_001E,B01002_001E,B19301_001E,B17001_002E,zip code tabulation area
0,ZCTA5 64133,50681.0,35163.0,40.8,26720.0,4690.0,64133
1,ZCTA5 64131,45688.0,22932.0,37.2,30411.0,4021.0,64131
2,ZCTA5 64130,31166.0,19996.0,39.3,21925.0,5238.0,64130
3,ZCTA5 64119,68841.0,27848.0,38.3,33224.0,1785.0,64119
4,ZCTA5 64134,41543.0,23874.0,31.3,20078.0,5507.0,64134
5,ZCTA5 64108,49500.0,7799.0,35.4,39759.0,1590.0,64108
6,ZCTA5 64113,136913.0,11988.0,42.5,73133.0,248.0,64113
7,ZCTA5 64132,36074.0,14817.0,31.6,18374.0,4542.0,64132
8,ZCTA5 64112,74864.0,8352.0,35.7,78107.0,769.0,64112
9,ZCTA5 64146,60667.0,1506.0,42.3,34966.0,93.0,64146
10,ZCTA5 64127,25472.0,15457.0,35.5,16498.0,5473.0,64127
11,ZCTA5 64125,22328.0,1389.0,36.2,14382.0,290.0,64125
12,ZCTA5 64149,116719.0,355.0,50.3,48321.0,9.0,64149
13,ZCTA5 64138,46915.0,26032.0,35.9,24402.0,4334.0,64138
14,ZCTA5 64114,63694.0,24405.0,39.9,40033.0,1669.0,64114
15,ZCTA5 64145,71611.0,5249.0,51.2,41979.0,312.0,64145
16,ZCTA5 64105,59474.0,4679.0,29.8,50084.0,761.0,64105
17,ZCTA5 64123,35290.0,9580.0,33.6,16047.0,2647.0,64123
18,ZCTA5 64110,42550.0,17176.0,30.0,28339.0,3510.0,64110
19,ZCTA5 64137,47324.0,10646.0,31.5,23454.0,1836.0,64137
20,ZCTA5 64155,84614.0,22917.0,36.5,34047.0,909.0,64155
21,ZCTA5 64109,32131.0,9647.0,36.6,24787.0,2201.0,64109
22,ZCTA5 64154,73458.0,10895.0,36.5,39632.0,588.0,64154
23,ZCTA5 64151,71190.0,26777.0,38.0,37519.0,2830.0,64151
24,ZCTA5 64124,26512.0,10626.0,33.0,15125.0,3658.0,64124
25,ZCTA5 64116,49352.0,15576.0,38.9,36730.0,1662.0,64116
26,ZCTA5 64120,34417.0,383.0,35.0,21622.0,71.0,64120
27,ZCTA5 64139,113553.0,2079.0,41.3,44231.0,19.0,64139
28,ZCTA5 64152,88919.0,29231.0,39.6,46684.0,962.0,64152
29,ZCTA5 64129,39396.0,8881.0,35.8,22216.0,1468.0,64129
30,ZCTA5 64158,82739.0,5041.0,32.4,33615.0,240.0,64158
31,ZCTA5 64106,31140.0,9326.0,29.5,23534.0,3294.0,64106
32,ZCTA5 64111,48105.0,17801.0,31.4,35777.0,2691.0,64111
33,ZCTA5 64128,24421.0,11379.0,38.9,15486.0,4012.0,64128
34,ZCTA5 64118,55690.0,42706.0,35.7,27636.0,5711.0,64118
35,ZCTA5 64117,46514.0,14673.0,35.0,22841.0,2530.0,64117
36,ZCTA5 64136,36538.0,2220.0,40.1,33936.0,518.0,64136
37,ZCTA5 64126,20699.0,6148.0,28.0,11217.0,2749.0,64126
38,ZCTA5 64157,112481.0,19918.0,34.4,43358.0,252.0,64157
39,ZCTA5 64156,111000.0,7935.0,35.3,48958.0,216.0,64156
40,ZCTA5 64101,-666666666.0,278.0,36.8,32422.0,23.0,64101
41,ZCTA5 64163,56250.0,748.0,44.9,25425.0,118.0,64163
42,ZCTA5 64153,77874.0,5234.0,37.3,38573.0,331.0,64153
43,ZCTA5 64161,67250.0,300.0,49.3,32376.0,27.0,64161
44,ZCTA5 64147,7622.0,581.0,19.0,3712.0,400.0,64147
45,ZCTA5 64167,158125.0,446.0,48.6,51045.0,0.0,64167
46,ZCTA5 64102,-666666666.0,0.0,-666666666.0,-666666666.0,0.0,64102
47,ZCTA5 64166,75536.0,285.0,61.9,36354.0,0.0,64166
48,ZCTA5 64165,109844.0,215.0,38.0,31150.0,0.0,64165
49,ZCTA5 64164,-666666666.0,213.0,56.2,53307.0,14.0,64164
50,ZCTA5 64068,71598.0,38439.0,39.1,34261.0,2479.0,64068
51,ZCTA5 64012,64489.0,27190.0,38.6,30379.0,2548.0,64012
52,ZCTA5 64052,43965.0,20297.0,40.9,23206.0,3136.0,64052
53,ZCTA5 64030,44971.0,25150.0,32.8,23066.0,3753.0,64030

In [20]:
# Renaming the columns of the dataframe
data_df = data_df.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Reordering the columns, dropping the "Name" column
data_df = data_df[['Zipcode','Household Income','Population','Median Age', 'Per Capita Income', 'Poverty Count']]

In [22]:
# Removing oddball data from the dataset
data_df = data_df.loc[(data_df['Population']> 0) & (data_df['Household Income'] > 0)]
data.head()

[35163. 22932. 19996. 27848. 23874.  7799. 11988. 14817.  8352.  1506.
 15457.  1389.   355. 26032. 24405.  5249.  4679.  9580. 17176. 10646.
 22917.  9647. 10895. 26777. 10626. 15576.   383.  2079. 29231.  8881.
  5041.  9326. 17801. 11379. 42706. 14673.  2220.  6148. 19918.  7935.
   278.   748.  5234.   300.   581.   446.     0.   285.   215.   213.
 38439. 27190. 20297. 25150.]
[ 5.06810000e+04  4.56880000e+04  3.11660000e+04  6.88410000e+04
  4.15430000e+04  4.95000000e+04  1.36913000e+05  3.60740000e+04
  7.48640000e+04  6.06670000e+04  2.54720000e+04  2.23280000e+04
  1.16719000e+05  4.69150000e+04  6.36940000e+04  7.16110000e+04
  5.94740000e+04  3.52900000e+04  4.25500000e+04  4.73240000e+04
  8.46140000e+04  3.21310000e+04  7.34580000e+04  7.11900000e+04
  2.65120000e+04  4.93520000e+04  3.44170000e+04  1.13553000e+05
  8.89190000e+04  3.93960000e+04  8.27390000e+04  3.11400000e+04
  4.81050000e+04  2.44210000e+04  5.56900000e+04  4.65140000e+04
  3.65380000e+04  2.06990000e+04  1.12481000e+05  1.11000000e+05
 -6.66666666e+08  5.62500000e+04  7.78740000e+04  6.72500000e+04
  7.62200000e+03  1.58125000e+05  7.55360000e+04  1.09844000e+05
  7.15980000e+04  6.44890000e+04  4.39650000e+04  4.49710000e+04]

In [ ]:
data_df.to_csv('./Resources/CensusData.csv', index=False)

In [ ]:
ZipCodes = list(data_df['Zipcode'])
ZipCodes = pd.DataFrame(ZipCodes)
ZipCodes.to_c